.container-signUp {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SignUp {
    flex-direction: row;
    width: 389px;
    height: 473px;
    background: #ffffff;
    box-shadow: 0px 5px 15px #00000029;
    opacity: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 150px;
}

.text {
    position: relative;
    top: 350px;
    right: 180px;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0a0102;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #ffffff;
    border: none;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.content {
    display: none;
}

.active-contentSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    top: 30px;
    border-radius: 3px;
    width: 239px;
    height: 37px;
    background-color: #a03037;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

@media (max-width: 800px) {
    .img-holder {
        display: none;
    }
    .login {
        left: 0px;
    }
}